properdocs/contrib/search/lunr-language/** linguist-vendored
packages/properdocs-theme-mkdocs/properdocs_theme_mkdocs/js/** linguist-vendored
packages/properdocs-theme-mkdocs/properdocs_theme_mkdocs/js/base.js linguist-vendored=false
packages/properdocs-theme-mkdocs/properdocs_theme_mkdocs/css/** linguist-vendored
packages/properdocs-theme-mkdocs/properdocs_theme_mkdocs/css/base.css linguist-vendored=false
packages/properdocs-theme-readthedocs/properdocs_theme_readthedocs/js/** linguist-vendored
packages/properdocs-theme-readthedocs/properdocs_theme_readthedocs/js/theme.js linguist-vendored=false
packages/properdocs-theme-readthedocs/properdocs_theme_readthedocs/css/** linguist-vendored
packages/properdocs-theme-readthedocs/properdocs_theme_readthedocs/css/theme_extra.css linguist-vendored=false
docs/img/plugin-events.svg linguist-generated
