properdocs/contrib/search/lunr-language/** linguist-vendored
properdocs/themes/mkdocs/js/** linguist-vendored
properdocs/themes/mkdocs/js/base.js linguist-vendored=false
properdocs/themes/mkdocs/css/** linguist-vendored
properdocs/themes/mkdocs/css/base.css linguist-vendored=false
properdocs/themes/readthedocs/js/** linguist-vendored
properdocs/themes/readthedocs/js/theme.js linguist-vendored=false
properdocs/themes/readthedocs/css/** linguist-vendored
properdocs/themes/readthedocs/css/theme_extra.css linguist-vendored=false
docs/img/plugin-events.svg linguist-generated
